<!-- TASK 4 -->

<!DOCTYPE html>
<html>
    <head>
        <title>My Flask App page</title>
    </head>
    
    <body>
        {% if name %}
            <p>Hello {{name}}!</p>
        {% else %}
            <p>Hello annonymous person!</p>
        {% endif %}
    </body>
</html>

<!-- THE FILE LOOKS LIKE A NORMAL HTML FILE
HOWEVER IT INCLUDES JINJA. JINJA IS A FLASK LIBRARY AND IS
KNOWN AS A TEMPLATING LANGUAGE THAT ALLOWS PYTHON TO ACCESS
AND HTML FILE. 

HERE THE CODE IS SAYING THAT:
IF SOMETHING HAS BEEN ENTERED INTO THE VARIABLE NAME THEN:
PRINT HELLO "NAME"
IF ANYTHING ELSE HAS BEEN ENTERED THEN:
PRINT "HELLO ANNONYMOUS PERSON"
THEN WE END THE IF STATEMENT. -->

