<!DOCTYPE html>
<html>
    <head>
        <title>Fairytale</title>
        <link rel="stylesheet" href="{{url_for("static", filename="css/main.css")}}">
    </head>

    <body> 
    <div style="background-color:#6b5b95; height:30px; margin-top:8%;"></div>
    <div style="background-color:#d64161; height:30px;"></div>
    <div style="background-color:#feb236; height:30px;"></div>
    
    <div style="text-align:center;">
        {% if gender == "female": %}
            <p>Once upon a time, there was a girl called {{name}}.</p>
        {% elif gender == "male": %}
            <p>Once upon a time, there was a boy called {{name}}.</p>
        {% endif %}
        
        <p>{{name}} lived in a place called {{district}} where the weather was always {{weather}}.</p>
        
        <p>{{name}} was the youngest in the family as {{pronoun}} was only {{age}}.</p>
        
        <p>{{pronoun}} always wished that {{pronoun}} could own a pet. However, {{name}}'s family always said no because {{pronoun}} was too young.</p>
        
        <p>SUDDENLY... {{name}} stumbled across something. It was a...</p>
        
        <p style="font-family: monospace;">{{pet_type}}</p>
            
        <p>{{name}} was so excited! {{pronoun}} decided to call it... {{pet_name}}.</p>
    </div>
        
    <div style="background-color:#feb236; height:30px;"></div>
    <div style="background-color:#d64161; height:30px;"></div>
    <div style="background-color:#6b5b95; height:30px;"></div> 
    
    <button type="button" value="Refresh Page" onClick="window.location.reload()" style="margin-top:20px; width:100%; height:50px; font-size:22px; background-color:#878f99">CLICK FOR NEW STORY</button>
    </body>
</html>

